nav {
    width: 98%;
    margin-left: 10px;
}

a.primary-color {
    background: rgba(0, 0, 0, 0);
}

a.primary-color:hover {
    background: rgba(0, 0, 0, 0);
}

.nav-wrapper {
    max-width: 1032px;
    margin: 0px auto;
    position: relative;
    left: -10px;
}

.nav-container {
    position: relative;
    left: 14px;
}

.active {
    color: tomato !important;
}

.primary-color {
    color: rgb(0, 61, 0);
}

.secondary-color {
    color: tomato !important;
}

.third-color {
    color: #2eca7f;
}

@media screen and (max-width: 400px) {
    a.brand-logo {
        font-size: 14px !important;
    }
}

.brand-logo {
    font-size: 20px !important;
}

nav.white {
    box-shadow: none;
}

.bold-text {
    font-weight: 600;
}

div.line {
    display: inline-block;
    position: absolute;
    top: 42px;
    left: 15px;
    height: 4px;
    background-color: #2eca7f;
    border-radius: 2px;
}

.sidenav li>a {
    color: rgb(0, 61, 0);
}

i.material-icons.right.language {
    color: rgb(0, 61, 0);
    margin: 0;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 14px;
    color: rgb(0, 61, 0);
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

i.material-icons.primary-color {
    color: rgb(0, 61, 0);
}

#dropdown1 {
    top: -50px;
    height: 66px;
    width: 70px;

}

.dropdown-content li>a {
    padding: 5px 14px;
}

.dropdown-content li {
    min-height: 33px;
}

nav i.material-icons {
    font-size: 20px;
}